.DS_Store
/assets/Thumbnails/
/node_modules/
/wip/assets
/wip/cards/*.yml
/wip/screenshots/
/wip/ship/
*.blend1
*.mtl

# production
/build
/lib

# local build for development
/dev
ttpgcfg.local.json
